*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
}

button,
input {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}